@tailwind base;
@tailwind components;
@tailwind utilities;


/* Fade-in Animation */
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Custom Class for Fade-in */
  .animate-fadeIn {
    animation: fadeIn 0.5s forwards;
  }
  
  /* Hover effects */
  .group:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
  }
  
  .group:hover .absolute {
    transform: translateX(20px);
    transition: transform 0.3s ease;
  }
  
  .group:hover .text-white {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .group:hover .opacity-0 {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .group:hover .opacity-100 {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .group:hover .scale-100 {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  